html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #FFFCF2;
    background-color: #DD5E4B;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%;
}

h1 {
    font-size: 65px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 4rem;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.3rem;
}

.box-container {
    display: flex;
    margin-top: 45px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .container {
    padding: 0% 10%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 00 55px;
}

.navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    flex: 1;
}

.navbar .navbar-logo {
    flex: 1;
    text-align: center;
}

.navbar .navbar-kontak {
    flex: 1;
    text-align: end;
}

#menu-bar {
    display: none;
}

.navbar .navbar-nav a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    /* padding-bottom: 0; */
    border-bottom: 0.2rem solid white;
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-kontak a  {
    color: white;
    background-color: #DD5E4B;
    border-color: white;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border: 2px solid white;
    pad: 20px;
}

main {
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Hero Section */
.section1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0px 55px;
    margin: 0px;
    margin-top: -106px;


    background-image: linear-gradient(rgba(229, 212, 158, 0), rgba(221, 94, 75, 1)), url('../image/hero_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section1 a {
    display: inline-block;
    color: white;
    background-color: #DD5E4B;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    margin-top: 5rem;
    color: white;
    padding: 1rem 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    text-decoration: none;
    transition: 0.3s;
}
 
/* Hero Section */


/* Section 2 */
.section2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 0px 55px;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
   
.section2 .container {
    margin: 0px 55px;
}

.section2 > article {
    width: 605px;
}

.section2 > div {
    text-align: center;
    width: 605px;
}

.box-container-2 {
    display: flex;
    margin-top: 45px;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.box-container-2 .box:nth-child(1) {
    width: 100%;
    text-align: center;
}


.box-container-2 .box:nth-child(2) {
    width: 100%;
    text-align: center;
}


.box-container-2 .p1 {
    /* font-size: 24px; */
    text-align: center;
}

.box-container-2 .p2 {
    font-size: 80px;
    margin: 0px;
    text-align: center;
}

.section2 .container p {
    /* font-size: 24px; */
    text-align: justify;
}

.rating-dan-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;

}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* text-align: justify; */
    /* width: 100%; */
}

.cta {
    align-items: center;
}

.rating-dan-cta a {
    display: inline-block;
    color: #DD5E4B;
    background-color: #FFFCF2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    text-decoration: none;
}

.rating i {
    font-size: 50px;
    color: #FFFCF2;
}

.box {
    width: 33%;
    text-align: center;
}

.section2 .box-container-2 {
    padding-bottom: 1.3rem;
}

.section2 .container .box-container-2 .p1 {
    text-align: center;
    line-height: 1.5rem;
}
    
.section2 .container .box-container-2 .p2  {
    font-size: 80px;
    text-align: center;
    line-height: 2rem;
    /* margin-bottom: 2.5rem; */
}
/* Section 2 */

/* About */
.flex {
    display: flex;
    align-items: center;
    min-height: 50vh;
    margin: 0 0 5% 0;
    color: #FFFCF2;
    /* background-color: #FFFCF2; */
}

.about .image {
    flex: 1 1 35rem;
}

.about .description {
    flex: 1 1 42rem;
    margin-left: 5%;
    margin-right: 5%;
}

.about .image img {
    width: 100%;
}

.about .container h2 {
    margin-bottom: 0;
}

.about .description p {
    text-align: justify;
}
/* About */

/* Destinasi */
.section3 {
    /* margin: 10% 0; */
    padding: 0 5%;
    margin-bottom: 5%;
    /* background-color: #FFFCF2; */
}

.section3 h2 {
    /* color: #DB503B; */
    margin: 0 0 1.5rem 0;
    text-align: center;
}

.img-destinasi {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    justify-content: center;
}

.img-destinasi img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.image-1 {
    text-align: center;
}

.image-2 {
    text-align: center;
}

.image-3 {
    text-align: center;
}

.image-4 {
    text-align: center;
}
/* Destinasi */

/* Kontak Section */
.section4 {
    background-image: url('../image/bg-kontak.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0px;
    align-items: center;
}

.section4 h2 {
    margin: 0 0 1.3rem 0;
}

.contact-container {
    display: flex;
    flex-direction: row;
    margin: 0% 10%;
    justify-content: center;
}

.section4 .contact-container .map {
    background-image: url('../image/map.svg');
    width: 543px;
    height: 275px;
}

.contact {
    text-align: start;
    background-color: rgba(255, 255, 255, 0.13);
    width: 543px;
    height: 275px;
    padding: 0 1rem;
}
/* Kontak Section */

/* Blog */
.section5 {
    display: block;
    padding: 5% 0;    
}

.blog-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 1rem;
}

.gambar-1 {
    background-image: url('../image/sawah.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 228px;
    width: 318;
}

.gambar-2 {
    background-image: url('../image/sawah.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 228px;
    width: 318;
}

.gambar-3 {
    background-image: url('../image/sawah.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 228px;
    width: 318;
}

.blog-container img {
    /* width: 318px; */
    height: 228px;
    background-repeat: no-repeat;
    image-resolution: cover;
    background-position: center;
}

.section5 h2 {
    margin: 0 0 1.3rem 0;
}

.blog-container h3 {
    font-size:  16px;
}

.blog-container p {
    font-size:  15px;
    text-align: justify;
}

.container-1 {
    display: flex;
    flex-direction: column;
    width: 318px;
}

.container-2 {
    width: 318px;
}

.container-3 {
    width: 318px;
    
}

.section5 .tombol {
    align-items: center;
    text-align: center;
    margin-top: 30px;

}

.section5 .tombol a {
    display: inline-block;
    color: #DD5E4B;
    background-color: #FFFCF2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
    margin-top: 1.3rem;
    padding: 0.5rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
    text-decoration: none;
    transition: 0.3s;
}

/* Blog */

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 55px;
    height: 100px;
    background-color: #DB503B;
}

footer .sosmed i {
    font-size: 20px;
}

footer p  {
    text-align: center;
}
/* Footer */


/* Responsive */
@media screen and (max-width: 1366px) {
    /* NAVBAR */
    .navbar .navbar-nav a {
        font-size: 1rem;
    }
    /* NAVBAR */

    /* HERO Section */
    .section1 {
        min-height: 70vh;
        padding-top: 5%;
    }

    .section1 h1 {
        width: 650px;
        word-wrap: break-word;
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: -1%;
    }

    /* HERO Section */

    /* REPORT Section */
    .section2 {
        min-height: 50vh;
    }

    .section2 .container .description {
        padding: 0;
    }

    .section2 a svg {

        font-size: 1rem;
    }

    .section2 img {
        height: 25rem;
    }
    /* REPORT Section */

    /* About */
    #about {
        min-height: 60vh;
    }

    /* .about .image img {
        width: 600px;
    } */

    .about .description p {
        font-size: 1.4rem;
    }
    /* About */

}

@media screen and (max-width: 920px) {
    html {
        font-size: 60%;
    }

    /* NAVBAR */
    .navbar {
        display: flex;
        align-items: center;
        min-height: 70px;
    }

    .navbar .navbar-logo {
        flex: 1;
        text-align: start;
    }

    .navbar .navbar-logo img {
        height: 30px;
    }

    .navbar-kontak {
        flex: 1;
        justify-content: end;
    }

    .navbar .navbar-kontak a {
        color: white;
        background-color: #DB503B;
        border-color: white;
        border-radius: 0.5rem;
        color: white;
        padding: 0.5rem 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1rem;
        border: 0.3rem solid white;
        text-decoration: none;
    }

    .navbar .bar {
        margin-left: 2rem;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 7rem;
        right: -100%;
        background-color: #fff;
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        display: block;
        /* padding: 1rem 2rem; */
        right: 0;
    }

    .navbar .navbar-nav a {
        display: block;
        font-size: 2rem;
        color: #DB503B;
        margin: 1.5rem;
    }
    
    .navbar .navbar-nav a::after {
        content: '';
        display: block;
        /* padding-bottom: 0; */
        border-bottom: 0.2rem solid #DB503B;
        /* transform: scaleX(0); */
        transform-origin: 0 0;
        transition: 0.2s linear;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.5);
    }

    #menu-bar {
        display: inline-block;
        color: white;
        font-size: 26px;
        cursor: pointer;
        text-decoration: none;
    }
    /* NAVBAR */



    /* HERO SECTION */
    .section1 {
        min-height: auto;
        margin-bottom: 1%;
        padding: 0;
    }


    .section1 h1 {
        font-size: 3rem;
    }
    /* HERO SECTION */

    /* REPORT SECTION */
    .section2 {
        min-height: auto;
    }
    /* REPORT SECTION */

    /* ABOUT SECTION */
    #about {
        min-height: 60vh;
    }


    .about .description p {
        font-size: 1rem;
    }
    /* ABOUT SECTION */



}

@media screen and (max-width: 430px) {
    html {
        font-size: 55%;
    }

    /* NAVBAR */
    .navbar {
        display: flex;
        align-items: center;
        min-height: 70px;
    }

    .navbar .navbar-logo {
        flex: 1;
        text-align: start;
    }

    .navbar .navbar-logo img {
        height: 30px;
    }

    .navbar .bar {
        flex: 1;
        text-align:  end;
    }

    .navbar .navbar-nav {
        display: block;
        text-align: start;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #fff;
        width: 150px;
        padding: 1rem 2rem;
    }

    .navbar .navbar-nav a {
        font-size: 22px;
        color: #DB503B;
    }
    
    #menu-bar {
        color: white;
        font-size: 24px;
    }
    /* NAVBAR */


    /* ABOUT SECTION */
    .about .container .flex {
        flex-wrap: wrap;
    }


    /* ABOUT SECTION */

}